{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block main %}
    <h1 class="Title">Group Information</h1>
    <div class="Section_Info">
        <p><strong>Course:</strong>Course Documentation and Techniques of Software Test</p>
        <p><strong>Code:</strong>204024</p>
        <hr>
        <section class="Ref_Group">
            <h2>Studients</h2>
            <ul class="Studients">
                <li>Juan Pablo Garzón Ortiz</li>
                <li>Jonatan Diaz</li>
                <li>Alan Hougham</li>
                <li>Diana Echeverri</li>
            </ul>
        </section>
    </div>
{% endblock %}